/* Default Chatango hiding code with some extra stuff. Add to all profiles */



.logo_div { visibility: hidden; }
.fpix_header { visibility: hidden; }
.topad { visibility: hidden; }
.fpix_asl_table { visibility: hidden; }
.profile_text { visibility: hidden; }
.nc_profile { visibility: visible; }
.uppermenu { visibility: hidden; }
.bottombar { visibility: hidden; }
#left_container { visibility: hidden; }
#buyers_ad { visibility: hidden; }
#profilephoto { visibility: hidden; }
#flash_close_butt { visibility: hidden; }
#show_chat_btn { visibility: hidden; }
#fpix_wrapper { visibility: visible; }
#asltable { display:none !important; }
html,body,head,p /*Default thingies.*/
	{
		color:black;
		font:verdana;
		font-size:9px;
	}
body
	{
		height:100%;
		width:100%;
	}