Background
{
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
background-color:#000000;
background-image:url('http://i.imgur.com/25egS.jpg');
}
hr
{
border: 1;
height: 1px;
}
#Lun
{
font-family:Copperplate Gothic Light;
font-size:63px;
color:#fff;
}
@font-face
{
font-family: 'Copperplate Gothic Light';
src: url('Copperplate Gothic Light.eot?') format('eot'),
url('Copperplate Gothic Light.woff') format('woff'),
url('Copperplate Gothic Light.ttf') format('truetype');
}
#text
{
position:justify;
font-size:10px;
font-family:Times new roman;
width:80%;
padding:10px 10px 10px 10px;
height:auto;
overflow:auto;
color:#fff;
}