.logo_div { visibility: hidden; }
.fpix_header { visibility: hidden; }
.topad { visibility: hidden; }
.fpix_asl_table { visibility: hidden; }
.profile_text { visibility: hidden; }
.nc_profile { visibility: visible; }
#left_container { visibility: hidden }
#profilephoto { visibility: hidden; }
#flash_close_butt { visibility: hidden; }
#start_chat_but { visibility: hidden; }
#fpix_wrapper { visibility: visible; }
span {display:text !important;}
html,body,head,p
	{
		color:black;
		font:verdana;
		font-size:9px;
	}
Background /* Background */
	{
		Top:0px;
		Left:0px;
		Height:100%;
		Width:100%;
		background-color:white;
		position:absolute;
		background-image:url('http://i.imgur.com/UEBdfUC.jpg');
		background-position:bottom center;
		Background-repeat:no-repeat;
		background-size:cover;/* Jen's dick move. */
		opacity:1.0;
		filter:alpha(opacity=100); /* For IE8 and earlier */
        z-index:-99999;
	}
#container
	{
		height:620px;
		width:520px;
		background-color:white;
		border: 1px solid black;
		margin-left:10%;
		margin-top:10%;
		padding: 10px 10px 10px 10px;
		/* The background is used to specify the border background */
		background: -moz-linear-gradient(45deg, #000, #fff);
		background: -webkit-linear-gradient(45deg, #000, #fff);
		/* Background origin is the padding box by default.
		Override to make the background cover the border as well. */
		-moz-background-origin: border;
		background-origin: border-box;
		/* A transparent border determines the width */
		border: 1px solid transparent;
		border-radius: 8px;
		box-shadow: inset -999px 0 0 #fff; /* The background color */
		overflow:hidden;
		float: left;
	}
img,img.hr1,img.hr2
	{
		width:100%;
		height:auto;
		padding-left:3px;
		padding-right:3px;
	}
img.hr1
	{
		margin-top:2%;
	}
img.hr2
	{
		width:500px;
		height:50px;
	}
#title
	{
		font-family:'La Belle Aurore';
		font-size:22px;
		margin-top:1%;
		padding-left:3px;
		padding-right:3px;
		letter-spacing:0px;
		-webkit-transition: all 0.5s ease-in-out;
		-webkit-transition-property: all;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-in-out;
		-webkit-transition-delay: initial;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
div.ease,#title,#title:hover,#a
	{
		-webkit-transition: all 0.5s ease-in-out;
		-webkit-transition-property: all;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-in-out;
		-webkit-transition-delay: initial;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
#title:hover
	{
		letter-spacing:10px;
        -webkit-transition: all 0.3s ease-in-out;
		-webkit-transition-property: all;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-in-out;
		-webkit-transition-delay: initial;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

	}
	
	
div.center
	{
		width:100%;
		text-align:center;
	}
#textarea
	{
		padding:10px 10px 10px 10px;
		width:95%;
		text-align:left;
		height:430px;
		overflow:auto;
		border: 1px dotted transparent;
        
	}
#footer
	{
		Position:relative;
		width:100%;
		height:4%;
		text-align:center;
		padding:2px 2px 2px 2px;
		bottom:0px;
		left:-2%;
		color:black;
		top:0%;
	}
#footer:after
	{
		content:" ||Made by Lyend|| ";
	}
#footer:hover {
    color:blue;
}
#a
	{
		display: block;
		width: 25%;
		height: 30px;
		float: left;
		font-family: verdana;
		opacity: 1;
		color: black;
		font-size: 8px;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		border-right: 0px solid transparent;
		border-left: 0px solid transparent;
		border-top:1px solid transparent;
		-webkit-transition: all 0.3s ease-in-out;
		-webkit-transition-property: all;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-in-out;
		-webkit-transition-delay: initial;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
#a:hover
	{
		color:#c0c0c0;
		border-top-color:#000;
	}
#menu
	{
		width:520px;
		padding: 10px 10px 10px 10px;
		height:30px;
        position:absolute;
        margin-left:10%;
        margin-top:60%;
		border: 1px solid black;
		z-index:-1;
		background-color:#000;
		background: -moz-linear-gradient(90deg, #000, #fff);
		background: -webkit-linear-gradient(90deg, #000, #fff);
		/* Background origin is the padding box by default.
		Override to make the background cover the border as well. */
		-moz-background-origin: border;
		background-origin: border-box;
		/* A transparent border determines the width */
		border: 1px solid transparent;
		border-radius: 8px;
		box-shadow: inset -999px 0 0 #fff; /* The background color */
		overflow:hidden;
	}
#script {
    width: 0;
    height: 0;
    border-top:100px solid #c0c0c0;
    border-right: 100px solid transparent;
    position:absolute;
    top:0 ;
    left:0 ;
    margin-top: -1px;
    padding:1px 1px 1px 1px;
    opacity: 0.7; 
    z-index: 500+;
} 
#inside,#inside:after {
    top:-75px;
    left:0;
    position:absolute;
    -moz-transform: rotate(-42deg);
    -webkit-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    transform: rotate(-42deg);
    color:black;
    z-index: +501;
    font-family:'Times new Roman';
}
#inside:after,#inside:before { content:"Script-ango"; }
#inside:hover { text-decoration: underline; color:blue; }